{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h1>User page for {{ user }}</h1>
<form method='get'>
    <input type='text' name='query' value='{{search}}'>
    <button type='submit'>Search</button>
</form>
<p>Your polls</p>
<ul>
    {% for poll in polls %}
    <li>
        {% comment %}
        <!--<a href="{% url 'polls:detail' poll.pk %}">{{ poll.question_text }}</a>-->
        {% endcomment %}
        <a href="{% url 'polls:detail' poll.0 %}">{{ poll.1 }}</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'polls:create-poll' %}">Create poll</a>
<a href="{% url 'polls:index' %}">Back to homepage</a>
<a href="{% url 'polls:log-out' %}">Log out</a>